body {
	overflow-y:scroll; 
	padding-top: 20px;
	draggable:false;
}
.home {
	padding: 40px 15px;
	text-align: center;
}
.dsalert {
	bottom:0;
	width:25%;
}
#blog{
	padding-top: 20px;
}
#blog-border{
	border:1px solid #ccc;
	border-radius: 6px;
}