body {
	overflow-y:scroll; 
	padding-top: 20px;
	draggable:false;
}

.navbar {
	background-color: #f0f0f0;
}

#blog {
	padding: 75px 15px;
}

#blog-border{
	border:1px solid #ccc;
	border-radius: 6px;
}